
; Note: 
;  A Line starting with semicolon is a comment line.

; #Include libs\CtlColorStatic.ahk 
; #Include libs\Gdip_All.ahk       ; GDI+ functions

#Include quick-switch-app.ahk

#Include keymouse.ahk

#Include cmdconsole.ahk

#Include chmviewer.ahk

#Include emeditor.ahk

; #Include winshell.ahk
; #Include windev.ahk
; #Include chjmisc.ahk
; #Include chjmisc2.ahk

; #Include mediaplayer.ahk
; #Include pdfreader.ahk

; #Include devmgmt.ahk

; #Include hypersnap.ahk
; #Include hotstrings.ahk
; #Include webbrowsers.ahk

; #Include vmware-control.ahk

; #Include AmTemplates.ahk
; #Include menus.ahk

; #Include evernote.ahk
; #Include Everpic.ahk
; #Include Everlink.ahk

; #Include FoxitCoedit.ahk

; #Include mstsc.ahk ; Microsoft terminal service client
; #Include Teclast_X98.ahk
; #Include numpad_tweak_as_R7.ahk

; #Include zjb-helper.ahk
; #include <Vis2> ; Equivalent to #include .\lib\Vis2.ahk


; This customize.ahk is optional.
; *i means "ignore if that .ahk does not exist"
#Include *i customize.ahk

