
; Note: 
;  A Line starting with semicolon is a comment line.

#Include libs\debugwin.ahk
#Include libs\WinClipAPI.ahk
#Include libs\WinClip.ahk
; #Include libs\CtlColorStatic.ahk ; need by evernote.ahk
; #Include libs\Gdip_All.ahk       ; need by evernote.ahk

#Include quick-switch-app.ahk

#Include keymouse.ahk

#Include cmdconsole.ahk

#Include chmviewer.ahk

#Include emeditor.ahk

; #Include winshell.ahk

; #Include windev.ahk

; #Include mediaplayer.ahk
; #Include pdfreader.ahk
; #Include evernote.ahk

#Include devmgmt.ahk

; #Include hypersnap.ahk
; #Include hotstrings.ahk
; #Include webbrowsers.ahk

; #Include zjb-helper.ahk
; #include <Vis2> ; Equivalent to #include .\lib\Vis2.ahk

; #Include chjmisc.ahk

; #Include AmTemplates.ahk
; #Include menus.ahk

; #Include mstsc.ahk ; Microsoft terminal service client
; #Include Teclast_X98.ahk
; #Include numpad_tweak_as_R7.ahk

#Include customize.ahk

