
class DbgwinInit
{
	; This class accompanies debugwin.ahk .

	static VerboseLv := {}
	static _tmp_ := DbgwinInit.DoInit()
	; -- Note: We use `class static` here, because `DbgwinInit.DoInit()` is guaranteed
	;    to be executed on seen.
	;    We should NOT use AHK's global vars, bcz any global var is initialize *AFTER*
	;    class static vars, so losing the ability to provide "initial" values.
	
	DoInit()
	{
		; User can set default debug-message verbose level here.
		; DbgwinInit.VerboseLv[modu] will be checked by debugwin.ahk .
		; If not set, they all defaults to 0.
	
;		DbgwinInit.VerboseLv["_default_"] := 1 
		; -- [2025-01-24] 1=need to see win32help_GetCaretPos()'s msg
		
;		DbgwinInit.VerboseLv["Clipmon"] := 1

;		DbgwinInit.VerboseLv["HotkeyFlex"] := 1
;		DbgwinInit.VerboseLv["HotkeyLegacy"] := 1
		
;		DbgwinInit.VerboseLv["VmCtl"] := 1
		
;		DbgwinInit.VerboseLv["AHKhttp"] := 2

;		DbgwinInit.VerboseLv["Everlink"] := 1

;		DbgwinInit.VerboseLv["PeersCoedit"] := 1
;		DbgwinInit.VerboseLv["FoxitCoedit"] := 1
	}
}


; Usual style to customize running-configuration for individual modules:
;
class VmCtl_Cfg
{
	static CheckOnlyVmdkForActivity := true
}
